@custom-variant dark (&:is(.dark *));

:root {
  --background: #0a0e1a;
  --foreground: #ffffff;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
